@{ ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml"; }


<div class="container">

    <div class="row custom-buttons">
        <a class="btn btn-secondary custom-button" asp-action="Index" asp-route-id="@Model.ArtPieceId">Back to list</a>


        @if (ViewContext.HttpContext.User.IsInRole("Administrator"))
        {
            <a class="btn btn-primary custom-button" asp-action="Edit" asp-route-id="@Model.ArtPieceId">Edit</a>
            <a class="btn btn-danger custom-button" asp-action="Delete" asp-route-id="@Model.ArtPieceId">Delete</a>}

    </div>


    <div class="row">
        <div class="card col-xl-6" style="width: 30em;">
            <img class="card-img-top" src="~/StoredPictures/@(Model.PicUrl)" alt="Card image cap">
        </div>



        <div class="col-xl-6 mt-2">
            <div class="">
                <header class="text-center pb-5">
                    <h1 class="h2">@Model.Info</h1>
                </header>
            </div>

            <div class="bg-white p-5 shadow rounded">
                <div class="shadow-sm">
                    <div class="p-3">
                        <p class="mb-0 mt-2 font-italic"></p>
                        <p class="mb-0 mt-2 font-italic">Autor: @(Model.Author)</p>
                        <p class="mb-0 mt-2 font-italic">Opis: @(Model.AuthorsNote)</p>
                        <p class="mb-0 mt-2 font-italic">Cena: @(Model.Price)</p>
                        <p class="mb-0 mt-2 font-italic">Typ: @(Model.TypeOfArt)</p>
                        @if (ViewBag.BitcoinPrice != 0)
                        {
                            <p class="mb-0 mt-2 font-italic">BTC: @(Model.Price/(decimal)(ViewBag.BitcoinPrice))</p>
                        }
                        else
                        {
                            <p class="card-text ">"Error"</p>
                        }
                    </div>

                    <div class="pt-4 m-4 border-top text-right">
                        @if (Model.Reserved == true)
                        {
                            <p class="text-secondary">Reserved</p> }
                        else
                        {
                            <p class="text-secondary">Available</p>}
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>







<style>
    .image-box img {
        opacity: 1;
        -webkit-transform: scale(1.10);
        -moz-transform: scale(1.10);
        -ms-transform: scale(1.10);
        -o-transform: scale(1.10);
        transform: scale(1.10);
        -webkit-transition: all 0.1s ease-in;
        -moz-transition: all 0.1s ease-in;
        -ms-transition: all 0.1s ease-in;
        -o-transition: all 0.1s ease-in;
        transition: all 0.1s ease-in;
    }


    .custom-button {
        min-width: 7em;
        margin: 1em;
    }

    .custom-buttons {
    }

    .info {
        padding-top: 1em;
    }

    .button-container {
        padding-bottom: 1em;
        padding-left: 0px;
        padding-right: 1em;
        padding-bottom: 1em;
    }
</style>
