@model IEnumerable<MVC.Models.ArtPiece>

@{
    ViewData["Title"] = "ArtPieces";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

@{
    if (TempData.Peek("Message") != null && (TempData.Peek("ArtAction").ToString() == "Create"))
    {
        <div class="text-center text-success">
            <h3 id="message">@TempData.Peek("Message")</h3>
        </div>
    }
    else if (TempData.Peek("Message") != null && (TempData.Peek("ArtAction").ToString() == "Edit"))
    {
        <div class="text-center text-warning">
            <h3 id="message">@TempData.Peek("Message")</h3>
        </div>
    }
    else if (TempData.Peek("Message") != null && (TempData.Peek("ArtAction").ToString() == "Delete"))
    {
        <div class="text-center text-danger">
            <h3 id="message">@TempData.Peek("Message")</h3>
        </div>
    }
}


<div class="column justify-content-center">


    <div id="firstLine" class="row justify-content-center mx-auto">
        <div class="text-center">
            @if (ViewContext.HttpContext.User.IsInRole("Administrator"))
            {<a class="btn btn-primary search-button" asp-action="Create" asp-route-id="@Model">Create new</a>}
        </div>
        @using (Html.BeginForm())
        {
            <p id="searchbox" class=" row justify-content-center mx-auto">
                @Html.TextBox("SearchString", null, new { @placeholder = "Search by Author, title or type of art", @class = "customTextBox" })
                <button style="margin-top:1em;" type="submit"><i class="fa fa-search"></i></button>
            </p>}

        <button class="btn btn-info btn-xs search-button" type="button" data-toggle="collapse" data-target="#advanced" aria-expanded="false" aria-controls="collapseExample">
            Advanced options
        </button>
    </div>


    <div id="advanced" class="collapse column">
        <div class="row justify-content-center">
            <form id="filtering">
                <div id="filter-bar" class="row">
                    <div class="row filter-box">
                        <div class=" filter-box-name">Author</div>
                        <div class="filter-box-area">
                            <select name="author">
                                <option value="">all</option>
                                @foreach (var item in Model.Select(s => s.Author).Distinct().ToArray())
                                {
                                    <option value="@(item)">@(item)</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="row filter-box">
                        <div class="filter-box-name">Type</div>
                        <div class="filter-box-area">
                            <select name="type">
                                <option value="">all</option>
                                @foreach (var item in Model.Select(s => s.TypeOfArt).Distinct().ToArray())
                                {
                                    <option value="@(item)">@(item)</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="row filter-box">
                        <div class="filter-box-name"></div>
                        <div class="filter-box-area">
                            <button class="btn btn-info" type="submit" value="Submit" form="filtering"><i class="fa fa-search"></i></button>
                        </div>
                    </div>


                    <div class="row filter-box">
                        <div class="filter-box-name"></div>
                        <div class="filter-box-area">
                            <button class="btn btn-secondary" type="submit" value="Submit" form="filtering">Clear</button>
                        </div>
                    </div>

                </div>
            </form>
        </div>

        <div class="row justify-content-center">
            <h6 class="mt-4">Sort by:</h6>
        </div>

        <div class="row filter-box">
            <div class="filter-box-name"></div>
            <div class="filter-box-area">
                <a class="btn btn-light" asp-action="Index" asp-route-sortOrder="@ViewData["AuthorSortParm"]">@Html.DisplayNameFor(model => model.Author)</a>
                <a class="btn btn-light" asp-action="Index" asp-route-sortOrder="@ViewData["PriceSortParm"]">@Html.DisplayNameFor(model => model.Price)</a>
                <a class="btn btn-light" asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParam"]">@Html.DisplayNameFor(model => model.ModifiedDate)</a>

            </div>
        </div>


    </div>

    <div class="row justify-content-center">
        @foreach (var item in Model)
        {
            <div class="card card-flyer" style="width:15rem;margin:10px;">
                <a asp-action="Details" asp-route-id="@item.ArtPieceId">
                    <div class="image-box">
                        <img class="card-img-top" src="~/StoredPictures/@(item.PicUrl)" alt="Card Image" />
                    </div>
                </a>
                <div class="card-body text-left bg-light p-3">
                    <h5 class="card-title">@(item.Author)</h5>
                    <h6 class="card-text ">@(item.Info)</h6>
                    <p class="card-text ">@(item.AuthorsNote)</p>
                    <p class="card-text ">USD: @(item.Price)</p>
                    <p class="card-text ">@(item.Style)</p>
                    <p class="card-text ">@(item.TypeOfArt)</p>
                    @if (ViewBag.BitcoinPrice != 0)
                    {
                        <p class="card-text "><small style="font-size:0.6em;">BTC: @(item.Price/(decimal)(ViewBag.BitcoinPrice))</small></p>
                    }
                    else
                    {
                        <p class="card-text ">"Error"</p>
                    }
                </div>
            </div>}
    </div>

</div>














<style>
    #firstLine {
        overflow: hidden;
    }

    .search-button {
        height: 3em;
        margin: 1em;
    }

    .customTextBox {
        margin-top: 1em;
        width: 30em;
    }

    #searchbox input[type=text] {
        padding: 10px;
        font-size: 17px;
        border: 1px solid grey;
        float: left;
        width: 40vh;
        background: #f1f1f1;
    }

    .price-input {
        width: 3em;
    }

    .filter-box {
        margin: 1em;
        justify-content: center;
    }

    .filter-box-name {
        margin: auto;
        margin-left: 1px;
        margin-right: 1px;
    }

    .filter-box-area {
        margin: auto;
    }

    .card-flyer {
        overflow: hidden;
    }

    .card-img-top {
        width: 100%;
        height: 15em;
        object-fit: cover;
    }

    .card-flyer:hover .image-box img {
        opacity: 1;
        -webkit-transform: scale(1.10);
        -moz-transform: scale(1.10);
        -ms-transform: scale(1.10);
        -o-transform: scale(1.10);
        transform: scale(1.10);
        -webkit-transition: all 0.1s ease-in;
        -moz-transition: all 0.1s ease-in;
        -ms-transition: all 0.1s ease-in;
        -o-transition: all 0.1s ease-in;
        transition: all 0.1s ease-in;
    }

    .card-flyer:hover {
        background: #fff;
        box-shadow: 0px 7px 13px rgba(0, 0, 0, 0.50);
        /*box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);*/
        -webkit-transition: all 0.1s ease-in;
        -moz-transition: all 0.1s ease-in;
        -ms-transition: all 0.1s ease-in;
        -o-transition: all 0.1s ease-in;
        transition: all 0.1s ease-in;
        margin-top: 50px;
    }
</style>